<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Update</title>
    <link rel="stylesheet" href="path/to/bootstrap.css">
</head>
<body>
<div class="container">
    <!-- Titre de la page -->
    <h1>Account Balance</h1>
    <span th:if="${user.getAccount().getAmount() != null}" th:text="${user.getAccount().getAmount()}">
        <p>New balance: <span th:text="${user.getAccount().getAmount()}"></span></p></span>
    <span th:if="${user.getAccount().getAmount() == null}">No connections available.</span>

    <!-- Section Connexions -->
    <h2>Connections</h2>
    <p>Connexion List:
        <span th:if="${user.getLinks() != null}" th:text="${user.getLinks()}"></span>
        <span th:if="${user.getLinks() == null}">No connections available.</span>
    </p>

    <!-- Tableau des connexions -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Boucle sur la liste des connexions -->
        <tr th:each="connectedPerson : ${user.getLinks()}">
            <td th:text="${connectedPerson.firstname}"></td>
            <td th:text="${connectedPerson.lastname}"></td>
            <td class="text-center">
                <!-- Ajouter ici les actions, par exemple : -->
                <a th:href="@{/bidList/update/{id}(id=${connectedPerson.id})}">Send Money</a> |
                <a th:href="@{/bidList/delete/{id}(id=${connectedPerson.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
