<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Account Update</title>
    <link th:href = "@{css/mdb.min.css}" rel="stylesheet"/>
    <link th:href="@{css/index.css}" rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    <div class="card-body text-center">
        <img class="w-25" th:src="@{/css/images/logo.png}" alt="Logo" />
    </div>
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
        <h1 class="fw-bold">ACCOUNT SETTINGS</h1>
        <button type="button" class="btn btn-primary btn-lg shadow-2" onclick="window.location.href='/home'">Home</button>
    </header>

    <div th:if="${errorMessage != null}" class="alert alert-danger">
        <span th:text="${errorMessage}"></span>
    </div>

    <div th:if="${successMessage != null}" class="alert alert-success">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="row g-4" style="background-color: #508bfc;">
        <!-- Balance Card -->
        <div class="col-md-6">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">Balance</h4>
                    <span class="h3" th:text="${user.getAccount().getAmount()}"></span>

<!--                    <div th:if="${param.success}">-->
<!--                        <p class="alert alert-success">Les utilisateurs 'toto' ont été supprimés avec succès.</p>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Message d'erreur &ndash;&gt;-->
<!--                    <div th:if="${param.error}">-->
<!--                        <p class="alert alert-danger">Une erreur est survenue lors de la suppression des utilisateurs 'toto'.</p>-->
<!--                    </div>-->
<!--                    <a href="/delete-toto-users" class="btn btn-danger">Supprimer tous les utilisateurs 'toto'</a>-->

                </div>
            </div>
        </div>

        <!-- IBAN Card -->
        <div class="col-md-6">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">Iban</h4>
                    <span class="h5" th:text="${user.getAccount().getIban()}"></span>
                    <span class="text-muted" th:if="${user.getAccount().getIban() == null}">IBAN is not provided</span>
                </div>
            </div>
        </div>

        <!-- Connection List -->
        <div class="col-12">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">Connection List</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th></th> <!-- Empty Column for remove button -->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="connectedPerson : ${links}">
                                <td th:text="${connectedPerson.user2.firstname}"></td>
                                <td th:text="${connectedPerson.user2.lastname}"></td>
                                <td class="text-end">
                                    <form th:action="@{/remove-link/{friendId}(friendId=${connectedPerson.user2.id})}" method="post">
                                        <button type="submit" class="btn btn-danger">Remove Connection</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-muted" th:if="${links == null or links.size() == 0}">No connections available</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Transfer List -->
        <div class="col-12">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-4">Transfer List</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                            <tr>
                                <th>Id</th>
                                <th>Amount Before Fee</th>
                                <th>Amount After Fee</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Receiver</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transfer : ${transfers}">
                                <td th:text="${transfer.id}"></td>
                                <td th:text="${transfer.amountBeforeFee}"></td>
                                <td th:text="${transfer.amountAfterFee}"></td>
                                <td th:text="${#temporals.format(transfer.dateTime, 'dd-MM-yyyy HH:mm')}"></td>
                                <td th:text="${transfer.description}"></td>
                                <td th:text="${transfer.to.getFirstname() + ' ' + transfer.to.getLastname()}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-muted" th:if="${transfers == null or transfers.size() == 0}">No transfer available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
