<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfers</title>
    <link th:href="@{css/mdb.min.css}" rel="stylesheet"/>
    <link th:href="@{css/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mt-4">
    <div class="card-body text-center">
        <img class="w-25" th:src="@{/css/images/logo.png}" alt="Logo" />
    </div>
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4">
        <h1 class="fw-bold">TRANSFERS</h1>
        <button type="button" class="btn btn-primary btn-lg shadow-2" onclick="window.location.href='/home'">Home</button>
    </header>

    <div class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-4">
                    <div class="table-responsive">
                        <p class="text-muted text-center" th:if="${transfers == null or transfers.size() == 0}">No transfer available</p>
                        <table class="table align-middle mb-0">
                            <thead class="bg-light">
                            <tr>
                                <th>Id</th>
                                <th>Amount Before Fee</th>
                                <th>Amount After Fee</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Receiver</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transfer : ${transfers}">
                                <td th:text="${transfer.id}"></td>
                                <td th:text="${transfer.amountBeforeFee}"></td>
                                <td th:text="${transfer.amountAfterFee}"></td>
                                <td th:text="${#temporals.format(transfer.dateTime, 'dd-MM-yyyy HH:mm')}"></td>
                                <td th:text="${transfer.description}"></td>
                                <td th:text="${transfer.to.getFirstname() + ' ' + transfer.to.getLastname()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>